<%= session[:dialog_mode] %>
<% if(session[:dialog_mode] === 'signin' ||
  session[:dialog_mode] === 'signup' ||
  session[:dialog_mode] === 'edit' ||
  session[:dialog_mode] === 'show') %>
<%= render 'login_form' %>
<p>entered login mode</p>
<% end %>

<h1>Show Blogs here</h1>
