$clrModelBk: rgba(20,20,160,0.8);
$clrModelFont: white;

body nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  background: white;
  opacity: 1;
}

body article {
  margin-top: 90px;
}

.nav_button {
  display: inline-block;
  text-decoration: none;
  top: 48px;
  height: 32px;
  width: 120px;
  background-color: blue;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 32px;
}

.hidden {
  display: none;
}

.model {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: $clrModelBk;
  color: $clrModelFont;
}

.login form {
  position: relative;
  width: 400px;
  height: 104px;
  left: calc( (100vw - 400px) / 2);
  top: calc( (100vh - 104px) / 2 );
}

.blog form, .comment form {
  position: relative;
  width: 800px;
  height: 600px;
  left: calc( (100vw - 800px) / 2);
  top: calc( (100vh - 600px) / 2 );
  label {
    width: 700px;
  }
  textarea, .blog_title input {
    width: 700px;
  }
  textarea {
    height: 560px;
  }
}

.blog_item {
  margin-top: 8px;
  margin-bottom: 8px;
  .blog_outline {
    display: grid;
    grid-template-columns: 80px 1fr;
    div img {
      width: 100%;
      height: auto;
      background-size: 100% 100%;
    }
  }
}

.blog_comment {
  margin-left: 32px;
}

.blog_time {
  display: inline-block;
}
